dy

	nav.navbar.navbar-dark.bg-dark.navbar-expand-md
		a.navbar-brand(href="#") #[i(class="fa fa-codepen")] Codepen
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbar
			ul.navbar-nav.mr-auto
				li.nav-item.active
					a.nav-link(href="#") Home
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#dropdown01(href="#" data-toggle="dropdown") Dropdown
					.dropdown-menu(aria-labelledby="dropdown01")
						a.dropdown-item(href="#") Action
						a.dropdown-item(href="#") Another action
						a.dropdown-item(href="#") Something else here
			.my-2.my-md-0
				a.btn.btn-outline-warning(href="https://codepen.io/derekbtw/pen/MvxmQj") Download
	
	nav.navbar.navbar-expand-md.navbar-light.bg-light.rounded
		button.navbar-toggler(data-toggle="collapse" data-target="centerNavbar")
			span.navbar-toggler-icon
		.collapse.navbar-collapse.justify-content-md-center#centerNavbar
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href="#") Centered
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item
					a.nav-link(href="#") Link
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle#dropdown02(href="#" data-toggle="dropdown") Dropdown
					.dropdown-menu
						a.dropdown-item(href="#") Action
						a.dropdown-item(href="#") Another action
						a.dropdown-item(href="#") Something else here
				
	.container
		.jumbotron
			.col-sm-8.mx-auto
				h1 Jumbotron
				p Just keep it short and to the point. Okay?
				p
					a.btn.btn-outline-secondary(href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank") View docs
					
	footer.footer
		.container
			span.text-muted &copy; 2017
