<head>
  <script src="/js/ajax.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<ol id="tbody">
  <li>List</li>
</ol>
<div id="blockWrap">

  <div class="block" id="test">

  </div>
</div>
