doctype html
html
  head
    title AdminSystem
    meta(name='viewport' content='width=device-width,inital-scale=1')
    link(rel='stylesheet', type='text/css', href='../css/main.min.css')
  body
    .site
      .site__header
        include nav.pug
      .site__content(onclick = "close()")
        block content
      .site__footer
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")  
  script(src="/js/main.js")
  script(src="/js/ajax.js")
