#Burger.topnav
  a(href='#home') Home
  - if(!loggedIn)
    a(href='/') Login
  a(href='#contact') Contact
  .dropdown
    button.dropbtn( onclick='OpenDrop()')
      | Dropdown 
      i.fa.fa-caret-down
    #Drop.dropdown-content
      a(href='/employees') employees
      a(href='#') Link 2
      a(href='#') Link 3
  .dropdown
    button.dropbtn( onclick='OpenDrop()')
      | Dropdown2 
      i.fa.fa-caret-down
    #Drop.dropdown-content.dis
      a(href='#') Link 3
      a(href='#') Link 4
      a(href='#') Link 5
  a(href='#about') About
  - if(user)
    a(href='/upload') Upload Files
    a(href='/ftp') View Files
    a#signOut(href='/signout') Signout
  a.icon( onclick='OpenBurger()') &#9776
  #nameTag 
    p #{user}
