extends components/layout
block content
  h1 User ID #{user}
  a(href= '/employeesAdd')
    button#btnDirectCreate Add  
  if successStat!=""
    .messageBoxSucces
      p #{successStat}
  else if failureStat!=""
    .messageBoxFailure
      p #{failureStat}
  if results.length > 0 
    table#tableID
      caption Statement Summary
      thead
        tr
          th(scope='col') SA ID
          th(scope='col') First Name
          th(scope='col') Last Name
          th(scope='col') Address
          th(scope='col') Email Address
          th(scope='col') Cell No.
          th(scope='col') Type
          th(scope='col') Password
          th(scope='col') Edit
          th(scope='col') Delete
      tbody
      each result in results
        tr
          td(data-label='SA ID') #{result.sa_id}
          td(data-label='First Name') #{result.first_name}
          td(data-label='Last Name') #{result.last_name}
          td(data-label='Address') #{result.address}
          td(data-label='Email') #{result.email}
          td(data-label='Cell No.') #{result.cell}
          td(data-label='Type') #{result.type}
          td(data-label='Password') #{result.password}
          
          td(data-label='Edit') 
            a(href= '/employees/'+result.sa_id)
              button Edit
          td(data-label='Delete') 
            a(href= '/employeesDelete/'+result.sa_id)
              button Delete
            
    //- button.exportExcel(onclick="exportTableToExcel('tblData', 'filename')") 
    //-  .circle &#62
    //-  p.button-text Export Table Data To Excel File.
    //include components/blocks.html
  else
    h1 No data
    
    
    
