extends components/layout
block content
  .formCenterDiv
    form#createUser.centerForm(method= 'post')
      h1 Create User
      p
        b ID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="saID" placeholder="ID" autocomplete="off")
      br
      p 
        b First Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="fName" placeholder="First Name" autocomplete="off")
      br
      p 
        b Last Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="lName" placeholder="Last Name" autocomplete="off")
      br
      p 
        b Address &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="address" placeholder="Address" autocomplete="off")
      br
      p 
        b Email &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="email" placeholder="Email" autocomplete="off")
      br
      p 
        b Cell No. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="cell" placeholder="Cell Number" autocomplete="off")
      br
      p 
        b Tpye &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="type" placeholder="Type" autocomplete="off")
      br
      p 
        b Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="password" placeholder="Password" autocomplete="off")
      br
      button(type='submit')
        p Create
