extends components/layout
block content
  .formCenterDiv
    form#createUser.centerForm(method= 'post')
      h1 Update User ID#{results[0].sa_id}
      p 
        b First Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="fName" placeholder="First Name" value=results[0].first_name autocomplete="off")
      br
      p 
        b Last Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="lName" placeholder="Last Name" value=results[0].last_name autocomplete="off")
      br
      p 
        b Address &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="address" placeholder="Address" value=results[0].address autocomplete="off")
      br
      p 
        b Email &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="email" placeholder="Email" value=results[0].email autocomplete="off")
      br
      p 
        b Cell &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="cell" placeholder="Cell" value=results[0].cell autocomplete="off")
      br
      p 
        b Type &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="type" placeholder="Type" value=results[0].type autocomplete="off")
      br
      p 
        b Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          input(type="text" name="password" placeholder="Password" value=results[0].password autocomplete="off")
      br
      button(type='submit')
        p Update
  h1 #{results[0].last_name}
