extends components/layout
block content
  .formCenterDiv
    h1 Delete User
    p Are you sure you would like tp delete
    p #{results[0].sa_id}
    form#createUser.centerForm(method= 'post')
      button(type='submit')
        p Delete
