extends components/layout
block content
  if successStat!=""
    .messageBoxSucces
      p #{successStat}
  else if failureStat!=""
    .messageBoxFailure
      p #{failureStat}  
  form#login.loginForm(method= 'POST')
    h1 Login
    input(type="text" name="UserID" placeholder="Username" autocomplete="off" required)
    br
    p
    br
    input(type="text" name="UserPass" placeholder="Password" autocomplete="off" required)
    br
    br
    button.signIn(type='submit')
      p.button-text LOGIN
      
