extends components/layout
block content
  if successStat!=""
    .messageBoxSucces
      p #{successStat}
  else if failureStat!=""
    .messageBoxFailure
      p #{failureStat}
  form.loginForm(ref='uploadForm' 
    id='uploadForm' 
    action='/upload' 
    method='post' 
    encType="multipart/form-data")
      input(type="file" name="sampleFile") 
      //input(type='text' name='dir' placeholder='Choose directory') 
      button.signIn(type='submit')
        p.button-text Upload
      //input.signIn(type='submit' value='Upload!')
      //- input(type='text' name='delfile' placeholder='Choose directory')
      //- input(type='submit' value='delete!')
