@import "variables"

*, *:before, *:after
  box-sizing: border-box

html, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font-family: sans-serif
  background-color: $white

//#region______________________________ Site Wrapper ______________________________
.site
  width: 100%
  height: 100%
  text-align: center
  &__content
    width: 100%
    height: 100%

//#endregion

//#region _____________________________Navigation__________________________________
.topnav
  background-color: $black
  overflow: hidden
  a
    float: left
    display: block
    color: $white
    text-align: center
    padding: 14px 16px
    text-decoration: none
    font-size: 17px
// Burger Hide
.topnav .icon
  display: none

//Drop down and it's content formatting
.dropdown
  float: left
  overflow: hidden
  .dropbtn
    font-size: 17px
    border: none
    outline: none
    color: $white
    padding: 14px 16px
    background-color: inherit
    margin: 0

//Drop-content hide
.dropdown-content
  display: none
  position: absolute
  background-color: $white
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1
  //border-radius: 0px 0px 12px 12px
  transition: all 5s ease-in-out
  a
    float: none
    color: $black
    padding: 12px 16px
    text-decoration: none
    display: block
    text-align: left
.show
  display: block
  transition: all 5s ease-in-out

// Hover
.topnav a:hover, .dropdown:hover .dropbtn
  background-color: #414141
  color: $white

.dropdown-content a:hover
  background-color: #ddd
  color: $black
#nameTag
  color: red
  float: right
  margin-right: 5%
  margin-bottom: 0%
  padding: 0


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
/* Show the dropdown menu when the user moves the mouse over the dropdown button
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 600px)
  .topnav a:not(:first-child), .dropdown .dropbtn
    display: none
  .topnav a.icon
    float: right
    display: block

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
@media screen and (max-width: 600px)
  .topnav.responsive
    position: relative
    a
      &.icon
        position: absolute
        right: 0
        top: 0
      float: none
      display: block
      text-align: left
    .dropdown
      float: none
    .dropdown-content
      position: relative
    .dropdown .dropbtn
      display: block
      width: 100%
      text-align: left
    .active
      padding: 14px 16px
  .dropbtn.responsive
    .dropdown
      float: none
    .dropdown-content
      position: relative
    .dropdown .dropbtn
      display: block
      width: 100%
      text-align: left
    .active
      padding: 14px 16px
  #nameTag
    color: red

//#endregion

//#region______________________________Table______________________________________

table
  border: 1px solid #ccc
  border-collapse: collapse
  margin: 0
  padding: 0
  width: 100%
  table-layout: fixed
  caption
    font-size: 1.5em
    margin: .5em 0 .75em
  tr
    background-color: $white
    border: 1px solid #ddd
    padding: .35em
  th, td
    padding: .625em
    text-align: center
    word-wrap: break-word
  th
    font-size: .85em
    letter-spacing: .1em
    text-transform: uppercase
  tbody tr:nth-child(odd)
    background-color: rgb(217, 217, 217)

@media screen and (max-width: 600px)
  table
    border: 0
    caption
      font-size: 1.3em
    thead
      border: none
      clip: rect(0 0 0 0)
      height: 1px
      margin: -1px
      overflow: hidden
      padding: 0
      position: absolute
      width: 1px
    tr
      border-bottom: 3px solid #ddd
      display: block
      margin-bottom: .625em
    td
      border-bottom: 1px solid #ddd
      display: block
      font-size: .8em
      text-align: right
      &::before
        /*
         ** aria-label has no advantage, it won't be read inside a table
         *content: attr(aria-label);
        content: attr(data-label)
        float: left
        font-weight: bold
        text-transform: uppercase
      &:last-child
        border-bottom: 0

//#endregion

//#region______________________________Login Form_________________________________
.loginForm
  top: 8%
  margin: 0 auto 100px
  width: 50%
  text-align: center
  padding: 10%

  input[type="text"]
    color: $black
    border: 1px solid rgb(208, 208, 208)
    outline: 1px
    padding: 1em
    width: 60%
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease
    cursor: pointer
    border-radius: 20px 20px 20px 20px
    &:focus
      width: 80%
  button.signIn
    border: 0
    background-color: $black
    color: $white
    border-radius: 20px 20px 20px 20px
    cursor: pointer
    padding: 0.2em 2.5em 0.2em 2.5em
    &:hover
  .button-text
    float: left
    outline: 0
    top: 50%
    font-size: 10pt
@media screen and (max-width: 600px)
  .loginForm
    width: 100%
    input[type="text"]
      width: 100%
//#endregion

//#region______________________________ Center Form_______________________________

.centerForm
  top: 8%
  margin: 0 auto 100px
  width: 50%
  text-align: center
  padding: 10%

  input[type="text"]
    color: $black
    border: 1px solid rgb(208, 208, 208)
    outline: 1px
    padding: 1em
    width: 20em
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease
    cursor: pointer
    border-radius: 20px 20px 20px 20px

  button.signIn
    border: 0
    background-color: $black
    color: $white
    border-radius: 20px 20px 20px 20px
    cursor: pointer
    padding: 0.2em 2.5em 0.2em 2.5em
    &:hover
  .button-text
    float: left
    outline: 0
    top: 50%
    font-size: 10pt
  button
    color: rgb(61, 88, 190)
@media screen and (max-width: 600px)
  .loginForm
    width: 100%
    input[type="text"]
      width: 100%

//#endregion

//#region______________________________Excel Export_______________________________
button.exportExcel
  background-color: pink
  border: 0
  cursor: pointer
  overflow: hidden
  .circle
    position: relative
    margin: auto
    padding: 0.5rem
    width: 3rem
    height: 3rem
    background: $black
    border-radius: 1.625rem
    float: left
    margin-right: 1rem
    color: $white
    font-size: 1.5rem

//#endregion

//#region______________________________Blocks ____________________________________
.block
  margin: 5em 5em 5em
  width: 15%
  text-align: left
  float: left
  padding: 1%
  color: $black
  background-color: $white
  border-radius: 1em
  border: 1px solid rgb(208, 208, 208)
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2)
hr
  border-style: none
  border-collapse: collapse
  border-top: 1.5px solid $black

  //#endregion

//#region______________________________MesssageBox__________________________________
.messageBoxSucces
  color: rgb(23, 87, 53)
  padding: 0.5em 0.5em
  margin: auto
  width: 20em
  border: 1px solid rgb(23, 87, 53)
  border-radius: 1.625rem
  background-color: rgba(95, 255, 19, 0.73)
.messageBoxFailure
  color: rgb(23, 87, 53)
  padding: 0.5em 0.5em
  margin: auto
  width: 20em
  border: 1px solid rgb(23, 87, 53)
  border-radius: 1.625rem
  background-color: rgba(255, 48, 0, 1)

//#endregion


.main
  background-color: grey
  width: 100%
  height: auto
  display: table
  .round
    float: left
    background-color: blue
    border-radius: 1.625rem
    margin: 30px
    width: 50px
    padding: 5px
    word-wrap: break-word
    display: table-row
  .con
    p
      width: 150px
      float: left
      margin: 50px
      word-wrap: break-word
      display: table-row
      background-color: blue
